/OpenSpaceTycoonClient/Library
/OpenSpaceTycoonClient/.vs/OpenSpaceTycoonClient/v14
/OpenSpaceTycoonClient/Temp
/OpenSpaceTycoonClient/OpenSpaceTycoonClient.csproj
/OpenSpaceTycoonClient/OpenSpaceTycoonClient.sln
/OpenSpaceTycoonClient/.vs/OpenSpaceTycoonClient/v15/*.suo
